.parsley-errors-list {
	color: #F00;
	margin-left: -10px;
}

.card-body h3 {
	font-size: 1.2em;
	font-weight: bold;
}

thead {
	background: #ccc;
}

label {
	margin-top: 10px;
}

iframe {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 0;
}

.selecione-codigo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.selecione-codigo img {
	width: 60%;
}

.card-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header a {
	background-color: #11114e;
	color: #FFFFFF;
	padding: 8px;
	border-radius: 10px;
	font-weight: 700;
}

.form-buttons {
	float: right;
}

.nav-item a,
.nav-item a i {
	font-weight: 700;
}

.edit-button,
.delete-button {
	margin-right: 8px;
}

.edit-button:hover,
.delete-button:hover {
	cursor: pointer;
	opacity: .7;
}

.register-button {
	color: #4e73df;
}

.register-button:hover {
	cursor: pointer;
}

.card-header h2 {
	font-weight: 700;
}

.toast {
    opacity: .9 !important;
}

#toast-container > .toast {
	width: 700px !important; 
  }

.toast-title {
	font-size: 18px;
}

.toast-message {
	font-size: 18px;
}